html,body{
	background:black;
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-transfrom:capitalize;
	font-family:Vardan,Ganeva,Tahoma,sans-serif;
	font-weight:normal;
	height:100%;
	width:100%;
}
.video{
	width:100%;
	height:35%;;
}
.title_anim{
	text-align:center;
	color:#00A5FF;
}
.title{
	color:red;
	font-size:30px;
}
.img_title{
	width:35%;
	height:100%;
}
.list span{
	padding:0;
	color: white;
}
.list{
	width:100%;
	height:20%;
}
.E1{
	background:#00A8FF;
}
span{
	position:relative;
	top:-50px;
	font-size:30px;
}